.Contenedor2{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border-radius: 5%;
    background:  var(--OffBlack);
  }
  
.nombre{
    display: flex;
    width: auto;
    height: auto;
    color: var(--White);
    font-size: large;
    justify-content: center;
    margin-bottom: 9px;
  }
  .letranormal{
    display: flex;
    margin:0px;
    color:  var(--Green);
    font-size: normal;
    justify-content: center;
  }
  
  .letratitulo{
    display: flex;
    width: auto;
    font-family: 'Inter';
    height: 10px;
    margin-top: 0px;
    color: var(--Red);
    font-size: medium;
    justify-content: center;
  }

  .inter-Normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }